<div class="m-5">
  <% content_for :title, "Editar conta | Fando" %>
  <p><i class="fad fa-user-edit fa-3x"></i></p> 
  <h2><b>Editar conta</b></h2>
  <h6 class="form-text text-muted">Preencha as informações abaixo para editar sua conta.</h6>
  <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-row">
      <div class="col">
        <b><%= f.label "Nome" %></b>
        <%= f.text_field :first_name, autocomplete: "first_name", required: true %>
      </div>
      <div class="col">
        <b><%= f.label "Sobrenome" %></b>
        <%= f.text_field :last_name, autocomplete: "last_name", required: true %>
      </div>
    </div>
    <br>
    <div class="form-group">
      <b><%= f.label "E-mail" %></b>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>
    <div class="form-group">
      <div class="field">
        <b><%= f.label "Senha" %></b>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">Mínimo de <%= @minimum_password_length %> caracteres.</small>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <b><%= f.label "Confirme sua senha" %></b>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <b><%= f.label "Senha atual" %></b>
        <%= f.password_field :current_password, autocomplete: "current-password", required: true %>
        <small class="form-text text-muted">Precisamos da sua senha atual para confirmar as alterações.</small>
      </div>
    </div>
    <br>
    <button type="submit" class="btn-third">Salvar</button>
  <% end %>
  <%= button_to "Voltar", tasks_path, method: :get, class: 'btn-fourth' %>
  <hr>
  <br>
  <p><i class="fad fa-user-times fa-2x"></i></p>
  <h3><b>Apagar Conta</b></h3>
  <h6 class="form-text text-muted">Se preferir, você pode encerrar sua conta e apagar todos os seus dados.</h6>
  <button type="button" class="btn-second mt-3" style="width: 200px" data-toggle="modal" data-target="#excludeAccountModal">Apagar conta</button>
  <br><br>
</div>
<%= render partial: "exclude_account" %>
