<div class="div-info">
  <div class="shadow p-4 mb-3 div-home">
    </p>
    <p><i class="fad fa-check fa-3x"></i></p>
    <h2><b>Boas-vindas ao Fando.</b></h2>
    <h6 class="form-text text-muted">Seu organizador de tarefas pr치tico e r치pido.</h6>
    </p>
    <h6 class="text-muted font-weight-light">O Fando foi criado para permitir que voc칡 consiga organizar seu dia de forma simples e pr치tica. <br><br>Crie cards para suas tarefas, defina prioridades e tenha uma rotina mais organizada!</h6>
  </div>
  <div class="shadow p-4 mb-2 div-home">
    </p>
    <p><i class="fad fa-question fa-3x"></i></p>
    <h2><b>Sobre o Fando</b></h2>
    <h6 class="form-text text-muted">N칩s viemos em paz. 游놓</h6>
    </p>
    <p><h6 class="text-muted font-weight-light">O Fando foi criado como projeto da disciplina de PAC para o Centro Universit치rio Cat칩lica de Santa Catarina.</h6></p>
    <h6>2020 | Desenvolvido por <a href="http://www.pudim.com.br/">Luiz Kraisch</a></h6>
  </div>
</div>
<div>
  <div class="shadow p-4 mb-3 div-home">
    </p>
    <p><i class="fad fa-user-edit fa-3x"></i></p> 
    <h2><b>Cadastre-se</b></h2>
    <h6 class="form-text text-muted">Comece a organizar o seu dia agora mesmo!</h6>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-row">
        <div class="col">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>
        <div class="col">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>
      </div>
      <br> 
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <small class="form-text text-muted">N칚o enviamos spams.</small>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="text-center">
        <%= f.submit "Cadastrar" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
