<div class="flex-column m-5">
  <% content_for :title, "Lixeira | Fando" %>
  <p><i class="fad fa-trash fa-3x"></i></p> 
  <h2><b>Lixeira</b></h2>
  <h6 class="form-text text-muted">Essas são as tarefas que você excluiu recentemente.</h6>
  <% if @tasks.empty? %>
    <div class="empty-trash">
      <i class="fad fa-recycle fa-3x"></i>
      <h6 class="form-text text-muted">Sua lixeira está vazia.</h6>
    </div>
  <% else %>
    <% @tasks.map do |task| %>
      <div class="trash-can-task">
        <div class="div-header">
          <i class="fad fa-<%= task.icon %> fa-3x"></i>
          <div class="form-row text-center">
            <div class="col">
              <%= button_to restore_task_path(id: task.id), method: :patch, class: "btn-first" do %>
                <i class='fad fa-trash-undo'></i>
              <% end %>
            </div>
            <div class="col">
              <button class="btn-second" type="button" data-toggle="modal" data-target="#reallyDestroyTaskModal<%= task.id %>"><i class="fad fa-trash"></i></button>
            </div>
          </div>
        </div>
        <% if task.is_important %>
          <div class='div-header'>
            <div class='task-important'></div>
          </div>
        <% end %>
        </p>
        <h4><b><%= task.title %></b></h4>
        <p>
          <h6 class="text-muted font-weight-normal"><b>Em</b> <%= task.start_date.strftime("%d/%m/%Y - %I:%M%p") %> <b>até</b> <%= task.finish_date.strftime("%d/%m/%Y - %I:%M%p") %> </h6>
        </p>
      </div>
      <%= render partial: "really_destroy_task", locals: { id: task.id } %>
    <% end %>
  <% end %>
  <div class="text-center">
    <%= button_to "Voltar", tasks_path, method: :get, class: "buto" %>
  </div>
</div>