
<div class="shadow p-4 mb-3 div-home flex-column">
  <br>
  <% content_for :background, "background-image: url(#{get_background_image});" %>
  <% content_for :title, "Login | Fando" %>
  <p><i class="fad fa-user-edit fa-3x"></i></p>
  <h2><b>Faça seu login</b></h2>
  <h6 class="form-text text-muted">Para acessar sua lista de tarefas</h6>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <b><%= f.label :email %></b>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form-group">
      <b><%= f.label :password %></b>
      <%= f.password_field :password, autocomplete: "current-password" %>
      <small class="form-text text-muted">Suas informações estão seguras conosco.</small>
    </div>
    <div class="text-center">
      <%= f.submit "Continuar", class: 'btn-third' %>
    </div>
  <% end %>
  <div class="text-center">
    <%= button_to "Voltar", new_user_registration_path, method: :get, class: 'btn-fourth' %>
  </div>
</div>
